# Real-time Speech to Text Transcription

In [1]:
import live2text
import os

### Run the cell below to transcribe indefinately
- say "Exit" or "Quit" to end the transcription
- Transcription will be saved to a dataframe

In [2]:
# Enter path to your google API key below
os.environ["GOOGLE_APPLICATION_CREDENTIALS"]="/Path/To/GoogleCloudCredentials.json"

In [3]:
df_live = live2text.main()

1600

Listening, say "Quit" or "Exit" to stop.

End (ms)       Transcript Results/Status
=====================================================

0: NEW REQUEST
3550: 1440 Broadway
8560:  blah blah blah blah blah 250 Market

10000: NEW REQUEST
12216: blah blah blah 555 California
16436:  exit

20000: NEW REQUEST
17075: what are we supposed to do exit

30000: NEW REQUEST
34690: quit
Exiting...

In [5]:
%store df_live
df_live

Stored 'df_live' (DataFrame)

                            transcripts     timestamps
0                         1440 Broadway  1573201794397
1   blah blah blah blah blah 250 Market  1573201799647
2         blah blah blah 555 California  1573201803402
3            what are we supposed to do  1573201814347
4                                  quit  1573201829479

In [ ]:
if